body {
    margin:0;
    background-color:lightgray;
}

.portfolio {
    width:100%;
}

.portfolio > div {
    padding:5px;
    box-sizing:border-box;
}

.portfolio .filters .catagorySelection {
    outline:none;
    border:none;
    border-radius:3px;
    text-align:center;
    padding:8px 12px;
    margin:auto 5px;
    min-width:40px;
    background-color:darkgray;
    cursor:pointer;
}

.portfolio .filters .catagorySelection:hover {
    background-color:gray;
}

.portfolio .normal-case {
    max-width:100%;
    display:flex;
    flex-wrap:wrap;
}

.portfolio .case-study {
    background-color:white;
    padding:8px;
    border-radius:3px;
    box-sizing:border-box;
}

.portfolio .case-study img {
    width:100%;
    overflow:hidden;
}

.portfolio .normal-case .case-study {
    flex:1;
    min-width:23%;
    margin:5px;
}

.portfolio .spotlight-case .case-study {
    flex:1;
    margin:5px;
}

.portfolio .spotlight-case .case-study img {
    opacity:0.8;
}