body {
    margin: 0;
}

.menuIcon, .animatedMenuIcon{
    width:45px;
    margin: 50px auto;
    cursor:pointer;
    border:solid 1px;
    border-radius: 5px;
}

.bar {
    width:35px;
    height:5px;
    background-color: black;
    margin:6px auto;
}

.bar.above {
    transform: rotate(-45deg) translate(-9px, 6px);
}

.bar.middle {
    opacity: 0;
}

.bar.below {
    transform: rotate(45deg) translate(-8px, -8px);
}

.icon-bar {
    width: 100%;
    background-color: #555;
    display:flex;
}

.icon-bar a {
    flex:1;
    text-align:center;
    padding:12px 0;
    transition: all 0.3s ease;
    color:white;
    font-size:36px;
}

.icon-bar a:hover {
    background-color: #000;
}

.active {
    background-color: #4CAF50;
}