body {
    margin: 0;
}

.widget {
    margin-bottom:50px;
}

.menuIcon, .animatedMenuIcon{
    width:45px;
    margin: 50px auto;
    cursor:pointer;
    border:solid 1px;
    border-radius: 5px;
}

.bar {
    width:35px;
    height:5px;
    background-color: black;
    margin:6px auto;
}

.bar.above {
    transform: rotate(-45deg) translate(-9px, 6px);
}

.bar.middle {
    opacity: 0;
}

.bar.below {
    transform: rotate(45deg) translate(-8px, -8px);
}

.icon-bar {
    width: 100%;
    background-color: #555;
    display:flex;
}

.icon-bar a {
    flex:1;
    text-align:center;
    padding:12px 0;
    transition: all 0.3s ease;
    color:white;
    font-size:36px;
}

.icon-bar a:hover {
    background-color: #000;
}

.icon-bar a.active {
    background-color: #4CAF50;
}

.accordion .sectionName, .accordion .section {
    width:100%;
}

.accordion .sectionName {
    background-color: #eee;
    color: #444;
    border: none;
    outline: none;/* 若不取消 outline, 那點擊 button 的時候就會出現點選的痕跡 */
    text-align:left;
    padding: 18px;
    cursor: pointer;
    transition: 0.4s;
}

.accordion .sectionName:hover, .accordion.active {
    background-color: #ccc;
}

.accordion .sectionName:after {
    content: '\02795'; /* Unicode character for "plus" sign (+) */
    font-size: 13px;
    color: #777;
    float: right;
    /*margin-left: 5px;*//*官方範例上說的...用途不明*/
}

.accordion .sectionName.active:after {
    content: "\2796"; /* Unicode character for "minus" sign (-) */
}

.accordion .section {
    padding: 18px auto;
    background-color: white;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

.topNav {
    background-color: #333;
    overflow:hidden;/*官方教學提到的, 不知道為什麼需要這個*/
}

.topNav a{
    float:left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topNav a:hover {
    background-color: #ddd;
    color: black;
}

.topNav a.active {
    background-color: #4CAF50;
    color: white;
}

.topNav .search-container {
    float:right;
}

.search-container {
    display: flex;
    align-items:stretch;
    padding: 10px 14px;
}

.search-container input {
    flex: 7;
}

.search-container button {
    flex: 3;
}

.topNav .icon {
    display:none;
}

@media screen and (max-width: 600px) {
    .topNav a:not(:first-child), .topNav .search-container:not(:first-child) { display:none; }
    .topNav a.icon {
        float:right;
        display:block;
    }
}

@media screen and (max-width:600px) {
    .topNav.responsive {position: relative;}
    .topNav.responsive a.icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .topNav.responsive a, .topNav.responsive .search-container {
      float: none;
      text-align: left;
    }
    .topNav.responsive a {
      display: block;
    }
    .topNav.responsive .search-container {
      display:flex;
    }
}

.articleWithSideBar {
    position:relative;
    top:0;
    left:0;
    width:100%;
    height:300px;
}

.articleWithSideBar .content {
    position:relative;
    top:0;
    left:0;
    width:70%;
    overflow:scroll;
    background-color: #eee;
    
}

.articleWithSideBar .sidebar {
    width:30%;
    height:100%;
    position:absolute;
    top:0;
    right:0;    
    background-color:black;
    padding:15px;
}

.articleWithSideBar .sidebar a{
    text-decoration: none;
    color:white;
}